# Dependabot configuration file. See https://dependabot.com/docs/config-file/ for full format.
---
version: 1
update_configs:
  - package_manager: "python"
    directory: "/"
    update_schedule: "weekly"
    default_labels:
      - "dependabot"
